<header>
    <h1>User Dashboard</h1>
    <!-- Add navigation links if necessary -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Trainings</a></li>
            <li><a href="#">Add Projects</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>

        </ul>
    </nav>
</header>

<main>
    <section class="profile">

        <div class="user-dashboard">
            <h2>Welcome to User Dashboard</h2>
            <div class="user-info">
                <p>Email: {{ userData?.email }}</p>
                <p>Role: {{ userData?.role }}</p>
                <p>Username:{{userData?.userName}}</p>
                <!-- Add other user information here as needed -->
            </div>
        </div>

    </section>




</main>

<footer>
    <!-- Add footer content here -->
    <p>&copy; 2024 Training Portal. All rights reserved.</p>
</footer>