
<header>
    <h1>Admin Dashboard</h1>
    <!-- Add navigation links if necessary -->
    <nav>
        <ul>
            <li><a href="admindashboard">Home</a></li>
            <li><a routerLink="add-training">Add Trainings</a></li>
            <li><a routerLink="assign-training">Assign Training To Users</a></li>

           
            <li style=" cursor:pointer" (click)="logoutAdmin()">   Logout</li>

        </ul>
    </nav>
</header>

<main>
    <section class="profile">

        <div class="admin-dashboard container  mx-auto ">
           
            <router-outlet >
 
            </router-outlet> 
        </div>

    </section>

   


</main>

 