/* CSS for header component */
/* Navbar */
.navbar {
    background-color: #ffffff; /* White background color */
    border-bottom: 2px solid #b3e0ff; /* Light blue border at the bottom */
  }
  
  /* Container */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; /* Adjust padding as needed */
  }
  
  /* Navbar brand (logo) */
  .navbar-brand img {
    width: auto;
    height: 30px;
  }
  
  /* Navbar links */
  .navbar-nav .nav-link {
    color: #007bff; /* Blue color for links */
    text-decoration: none;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }
  
  .navbar-nav .nav-link:hover {
    color: #0056b3; /* Darker blue color on hover */
  }
  
  /* Collapse navbar */
  .collapse.navbar-collapse {
    justify-content: flex-end;
  }
  
  /* Buttons */
  .navbar-nav .nav-item {
    margin-left: 10px; /* Adjust spacing between buttons */
  }
  
  .navbar-nav .nav-item:last-child {
    margin-left: 0; /* No margin for the last button */
  }
  
  .navbar-nav .nav-link.btn {
    border: 2px solid #007bff; /* Blue border for buttons */
    border-radius: 20px; /* Rounded corners for buttons */
    padding: 8px 20px; /* Adjust padding as needed */
  }
  
  .navbar-nav .nav-link.btn:hover {
    background-color: #007bff; /* Blue background color on hover */
    color: #ffffff; /* White text color on hover */
  }
  