
<app-header></app-header>
<br>
<br>
<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"  [(ngModel)]= "user.email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]= "user.password" required>
      </div>
      
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" name="role" [(ngModel)]= "user.role" required>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <!-- Simple link -->
        <a routerLink="/resetPassword">Forgot password?</a>
    </div>
    <br>
      <button type="submit" >Login</button>
    </form>
 
  </div>
  <br>
  <app-footer></app-footer>
  